

.title {
    color: black;
    text-align: center;
    margin: 4px; 
}

.form {
    display: block;
    margin-top: 30px;
    width: 400px;

}

.card-deck {
    padding-left: 10px;
    padding-right: 10px;
}

.card-img, .card-img-top {
    margin: auto;
    width: 50%;
    margin-top: 3px;
}

.card-body {
    padding-top: 7px;
}

.secsion{
    margin: 5px;
}